<section class="crud-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Update item</mat-card-title>
      <form [formGroup]="basicForm" autocomplete="off" novalidate (ngSubmit)="updateItem(basicForm.value)" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content>
  
          <mat-form-field>
            <input matInput type="text" placeholder="Item's name" formControlName="name" id="name">
            <mat-hint align="end">Not more then 30 characters long.</mat-hint>
            <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 30 characters</mat-error>
          </mat-form-field>
  
          <mat-form-field>
            <input matInput type="text" placeholder="Item's value" formControlName="valueItem">
            <mat-hint align="end">Not less 0.</mat-hint>
            <mat-error *ngIf="hasError('valueItem', 'required')">Value item is required</mat-error>
          </mat-form-field>
  
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button color="primary" [disabled]="!basicForm.valid">Update</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>